# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias h='cd ~/'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Shortcuts
alias d="cd ~/Dropbox"
alias p="cd ~/Dropbox/Projects"
alias g=git
alias a='cd /Applications'
alias o='open .'
alias ls='ls -lah'
alias s='subl '

# Network
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias dig="dig ANY +noall +answer $1"
alias whois="whois -h whois-servers.net"
alias flush='dscacheutil -flushcache'

# Git
alias gpush='git push origin $(git rev-parse --abbrev-ref HEAD)'
alias gpull='git pull --rebase origin $(git rev-parse --abbrev-ref HEAD)'

# Other
alias server='python -m SimpleHTTPServer 8888'
alias redis='redis-server'
alias mongodbstart="mongod run --config /usr/local/etc/mongod.conf"
alias ember='brunch new gh:gcollazo/brunch-with-ember-reloaded $1'
alias npmls='npm list --depth=0 "$@" 2>/dev/null'