
{
  "extends": "nightmare-mode/browser",
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "globalReturn": true,
    "jsx": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  },
  "rules": {
    "func-names": 0,
    "no-console": 0,
    "no-process-env": 0,
    "one-var": [2, "never"],
    "space-before-function-paren": 0
  }
}
