function gi() {
    curl https://www.gitignore.io/api/$@;
}

function geoip() {
    open http://www.ip-adress.com/ip_tracer/"${1}";
}

function mkvirtualenv3.3() {
    mkvirtualenv $1 --python=/usr/local/opt/python3/bin/python3.3
}

function mkvirtualenv2.7() {
    mkvirtualenv $1 --python=/usr/local/opt/python/bin/python2.7
}

function mkvirtualenvpypy() {
    mkvirtualenv $1 --python=/usr/local/opt/pypy/bin/pypy
}
