# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias h='cd ~/'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Shortcuts
alias dl="cd ~/Downloads"
alias d="cd ~/Desktop"
alias p="cd ~/Projects"
alias bp="cd ~/Projects/Blimp"
alias ap="cd ~/Projects/Alias"
alias dotfiles="cd ~/Projects/Personal/dotfiles"
alias g=git
alias o='open .'
alias ls='ls -lah'
alias a='atom '

# Network
alias dig="dig @8.8.8.8 ANY +noall +answer $1"
alias digns="dig @8.8.8.8 +short NS $1"
alias whois="whois -h whois-servers.net"
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias scan="nmap -T4 --max-rtt-timeout=500ms --initial-rtt-timeout=200ms --min-rtt-timeout=200ms --open --stats-every 5s $1"
alias sscan="sudo nmap -sS -T4 --max-rtt-timeout=500ms --initial-rtt-timeout=200ms --min-rtt-timeout=200ms --open --stats-every 5s $1"
alias ipinfo="open https://ipinfo.io/$1"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Git
alias gpush='git push origin $(git rev-parse --abbrev-ref HEAD)'
alias gpull='git pull --rebase origin $(git rev-parse --abbrev-ref HEAD)'

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Other
alias server='python -m SimpleHTTPServer 8888'
alias redis='redis-server'
alias npmls='npm list --depth=0 "$@" 2>/dev/nameull'
alias pycclean='find . -name \*.pyc -delete'
alias brew="env PATH=${PATH//$(pyenv root)\/shims:/} brew"
alias atomupdate='apm unstar $(apm stars --json | jq -r ".[].name") && apm star --installed'
