# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Adds homebrew install path
PATH="/usr/local/bin:$PATH"
PATH="/usr/local/sbin:$PATH"

# Heroku Toolbelt
export PATH="/usr/local/heroku/bin:$PATH"

# Postgres.app
export PATH="/Applications/Postgres.app/Contents/Versions/9.4/bin:$PATH"

# MongoDB.app
PATH="~/Applications/MongoDB.app/Contents/Resources/Vendor/mongodb:$PATH"

# Python startup script
export PYTHONSTARTUP=$HOME/.python-startup.py

# grep color
export GREP_OPTIONS='--color=auto'

# ls color
export CLICOLOR=1
export LSCOLORS=dxfxcxdxbxegedabagacad

# Docker
eval "$(docker-machine env default)"

# Default editor
export EDITOR='vim'
export VISUAL='vim'

# Homebrew
export HOMEBREW_NO_ANALYTICS=1
