"*":
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
      "npm-debug.log"
      "__pycache__"
    ]
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "SourceCodePro-Light"
    fontSize: 21
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "language-babel": {}
  linter:
    showErrorPanel: false
  "linter-eslint":
    globalNodePath: "/Users/jpadilla/.nvm/versions/node/v4.2.1"
    useGlobalEslint: true
  "linter-flake8":
    executablePath: "/Users/jpadilla/.pyenv/versions/2.7.9/bin/flake8"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".html.php.text":
  editor:
    tabLength: 4
